.user-item-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto';
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  background-color: #d2d6d2;
  opacity: 0.75;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 80%;
}
